@import '../../style.scss';


// LABEL
.change-pwd-label {
    color: $second-color;
    margin: {
        bottom: 24px;
        top: 24px;
    }
}

// AREA
.save-logout {
    display: flex;
    margin: {
        bottom: 40px;
    }
}

.save-logout {
    .button-type-1 {
        margin-right: 20px;
        width: 100%;
        max-width: 200px;
    }
    .button-type-2 {
        width: 100%;
        max-width: 200px;
    }
}