
@import '../../style.scss';

$main-color: #4d0c5a;
$second-color: #bfc2d3;
$third-color: #2a9cdd;

.bold-font {
    font-family: 'Proxima Bold';
}

// HEADER
.header {
    // background-color: $main-color;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(../../assets/images/header-image.jpg);
    border-radius: 0 0 6px 6px;
    .header-text {
        padding: {
            top: 20px;
            bottom: 10px;
        }
        h2 {
            color: white;
            @extend .bold-font;
        }
        p {
            color: $second-color;
        }

    }
}

.content {
    margin: 20px 0 20px 0;
}

// NAV
.sidebar {
    margin-bottom: 40px!important;
    background-color: rgb(218, 218, 218);
    color: white!important;
}

// PROFILE PICTURE & NAME
.name-avatar {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .user-avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 24px;
    }
    .user-name {
        margin-top: 10px;
        @extend .bold-font;
    }
}

// HR
.hr-divide {
    // margin-top: px;
}
// INPUTS
.input-group {
    position: relative;
    margin-bottom: 23px;
    > label {
        font-size: 0.9rem;
        position: absolute;
        top: -10px;
        left: 10px;
        background-color: white;
        padding: 0 5px 0 5px;
    }
    > input {
        border: 2px solid #212020a6;
        padding: 10px;
        height: 70px;
        border-radius: 4px;
        width: 100%;
        @extend .bold-font;
        // font-weight: bold;
    }
}

// LABEL
.change-pwd-label {
    color: $second-color;
    margin: {
        bottom: 24px;
        top: 24px;
    }
}

// AREA
.save-logout {
    display: flex;
    margin: {
        bottom: 40px;
    }
}

.save-logout {
    .button-type-1 {
        margin-right: 20px;
        width: 100%;
        max-width: 200px;
    }
    .button-type-2 {
        width: 100%;
        max-width: 200px;
    }
}