// HEADER
.header {
    background-color: $main-color;
    border-radius: 4px;
    .header-text {
        padding: {
            top: 20px;
            bottom: 10px;
        }
        h2 {
            color: white;
            @extend .bold-font;
        }
        p {
            color: $second-color;
        }
    }
}
