@import '../../../style.scss';

.login-form {
    margin-top: 20px;
    width: 100%;
}

.form-title {
    @extend .bold-font;
    font-size: 1.8rem;
}

.form-main {
    margin-bottom: 20px;
}
.input-container {
    margin-top: 20px;
}

.input-title {
    margin-left: 12px;
    font-weight: bold;
    color: $gray-color;
}
.input-with-icon {
    position: relative;
    .input-icon {
        position: absolute;
        left: 12px;
        top: 12px;
    }
    .input-text {
        text-indent: 45px;
        outline: none;
        width: 100%;
        height: 40px;
        border-radius: 20px;
        border: 1px solid #dfe2e6;
        &::placeholder {
            color: #dfe2e6;
        }
    }
    .show-password-icon {
        position: absolute;
        right: 12px;
        top: 13px;
        cursor: pointer;
     }
    .hide-password-icon {
        @extend .show-password-icon;
        // change color
    }
}


.register-login-buttons {
    display: flex;
    margin-top: 30px;
    width: 100%;
    // max-width: 350px;
    input {
        height: 40px!important;
        font-size: 1rem!important;
    }
    .button-type-2 {
        margin-right: 20px;
        width: 100%;
     }
    .button-type-1 {
        width: 100%;
     }
}

.remember-login {
    margin-top: 10px;
    color: $gray-color;
    font-weight: bold;
    input {
        margin-right: 10px;
    }
}