@import '../../style.scss';

.login-page-container {
    margin: 0 auto;
    padding-top: 40px;
    width: 830px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .left-part {
        padding-right: 50px;
    }
}
