@import '../../../style.scss';

// INPUTS
.input-group {
    position: relative;
    margin-bottom: 23px;
    > label {
        font-size: 0.9rem;
        position: absolute;
        top: -10px;
        left: 10px;
        background-color: white;
        padding: 0 5px 0 5px;
    }
    > input {
        border: 2px solid #212020a6;
        padding: 10px;
        height: 70px;
        border-radius: 4px;
        width: 100%;
        @extend .bold-font;
        // font-weight: bold;
    }
}
