@import "../../../style.scss";

.login-form {
    margin-top: 20px;
    width: 100%;
}

.form-title {
    @extend .bold-font;
    font-size: 1.8rem;
}

.form-main {
    margin-bottom: 20px;
}

.register-login-buttons {
    display: flex;
    margin-top: 30px;
    width: 100%;
    // max-width: 350px;
    input {
        height: 40px !important;
        font-size: 1rem !important;
    }
    .button-type-2 {
        margin-right: 20px;
        width: 100%;
    }
    .button-type-1 {
        width: 100%;
    }
}

