@import '../../style.scss';

.company-logo {
    height: 100px;
    margin-top: 30px;
}

.logo-description {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-top: 40px;
    color: $gray-color;
    font-weight: bold;
}